# Snowflake
SNOWFLAKE_ACCOUNT=your_account.eu-west-1
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=ELECTRICITY_RAW
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

# Airflow
AIRFLOW_UID=50000